<div class="nav">
  <ul class="navbar">
    <li><a href="">Coches</a></li>
    <li><a href="">Chicas</a></li>
    <li><a href="">Acción</a></li>
    <li><a href="">Deportes</a></li>
    <li><a href="">Clásicos</a></li>
    <li><a href="">Naves</a></li>
    <li><a href="">Multijugador</a></li>
  </ul>
</div>