<div class="main-container">
    <header>
        <img src="/assets/characters4.jpg" alt="">
        <%= render partial: "navigator" -%>
    </header>

    <div class="advertising"><h1>ADVERTISMENT</h1></div>

    <div class="games">
        <%= render partial: "games" %>
    </div>

    <div class="breadcrumb">
        <%= render partial: "breadcrumb" %>
    </div>

    <footer>
      <%= render partial: "footer" %>
    </footer>
</div>

<div class="logo">
  <h1>LOGO</h1>
</div>